@media(max-width : 768px){
    .main .firstpart .containar h3 {
        font-size: 12px;
        width: 35%;
        height: 273px;
        margin-left: 10px;
        overflow:scroll;;
    }
    .main .firstpart .containar .pic {
      padding-bottom: 85px;
    
    }
    .main .firstpart .containar .pic img {
  
        width: 50%;
        height: 50%;
        float: right;
        
    }

    .firstpart .containar h3 {
        float: right;
        font-size: 12px;
        width: 25%;
        position: absolute;
        padding-left: 10px;
        padding-top: 15px;
       
    
    }
    .main .firstpart .containar .btn button {
        background-color: rgba(255, 255, 255, 0.852);
        width: 164px;
        height: 52px;
        border: 3px;
        border-style: solid;
        margin: 5px;
        display: block;
        transition: .55s ease-in-out;
    }
    .main .firstpart .containar .btn {
        position: absolute;
        bottom: 40px;
        left: 382px;
        
    }
    .main .part2 {
        height: 100vh;
     
        padding-top: 1px;
    }
    .main .part2 .container{
        width: 100%;
        height: 25%;
       
        display: flex;
        justify-content: space-evenly;
        padding: 10px 10px;
    }
    .main .part2 .container img{
       
      margin: 40px 60px;
    }
    .main .part2 .container p {
        padding-top: 45px;
    }
}